@define-color bar_bg_color #3D3E3F;
@define-color bar_fg_color #DEDDDA;
@define-color theme_selected_bg_color #76747C;
@define-color theme_selected_fg_color #F6F5F4;

/* GTK NAMED COLORS
   ----------------
   use responsibly! */
/*
widget text/foreground color */
@define-color theme_fg_color #e0e0e0;
/*
text color for entries, views and content in general */
@define-color theme_text_color #e5e5e5;
/*
widget base background color */
@define-color theme_bg_color #424344;
/*
text widgets and the like base background color */
@define-color theme_base_color #505050;
/*
base background color of insensitive widgets */
@define-color insensitive_bg_color @disabled_bg_color;
/*
text foreground color of insensitive widgets */
@define-color insensitive_fg_color #747170;
/*
insensitive text widgets and the like base background color */
@define-color insensitive_base_color @theme_base_color;
/*
widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #949190;
/*
widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #424344;
/*
text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color @theme_base_color;
/*
base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color @theme_selected_bg_color;
/*
text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color @theme_selected_fg_color;
/*
insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #4c4c4f;
/*
widgets main borders color */
@define-color borders #5f5f5f;
/*
widgets main borders color on backdrop windows */
@define-color unfocused_borders @unfocused_insensitive_color;
/*
these are pretty self explicative */
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;

@define-color default_bg_color #d1cbc9;
@define-color osd_button_color #111113;
@define-color disabled_button_color @insensitive_fg_color;
@define-color disabled_bg_color #404142;

@define-color scrollbar_color #404142;
@define-color scrollbar_button_hover #76747C;
@define-color scrollbar_slider #808080;
@define-color scrollbar_slider_hover #a0a0a0;
@define-color scrollbar_active #909090;

@define-color button_bg_color shade (@theme_bg_color, 1.45);
@define-color button_border_color shade (@theme_bg_color, 1.65);

@define-color button_bg_hover shade (@theme_bg_color, 1.7);
@define-color button_border_hover shade (@theme_bg_color, 1.85);

@define-color button_bg_checked shade (@theme_bg_color, 1.9);
@define-color button_border_checked shade (@theme_bg_color, 2.0);

@define-color button_bg_inactive shade (@theme_bg_color, 1.2);
@define-color button_border_inactive shade (@theme_bg_color, 1.35);

@define-color button_bg_checked_inactive shade (@theme_bg_color, 1.35);
@define-color button_border_checked_inactive shade (@theme_bg_color, 1.35);

@define-color menu_bg_color #505152;
@define-color menu_border_color #383839;

@define-color bar_hover_color shade (@bar_bg_color, 1.6);
@define-color bar_checked_color shade (@bar_bg_color, 1.4);

@define-color notebook_tab_color #6d6a6a;
@define-color notebook_header_color #48494a;
@define-color notebook_bg_color #424344;

@define-color switch_bg_color #404040;
@define-color switch_border_color #707070;
@define-color switch_border_checked #505050;
@define-color switch_border_disabled #606060;
@define-color switch_border_checked_disabled #707070;
@define-color switch_bg_checked_disabled shade (@theme_selected_bg_color, 0.7);

@define-color check_bg_color #404142;

@define-color trough_color #a0a0a0;

@define-color expander_color #909090;
@define-color expander_hover #707070;
@define-color expander_selected @theme_selected_fg_color;
@define-color expander_sel_hover shade(@expander_selected, 0.7);

@define-color draggable_tab_hover #505050;
@define-color draggable_tab_checked #585858;
@define-color draggable_tab_checked_hover #686868;

@define-color text_entry_color #585858;
@define-color text_entry_border #707070;
@define-color text_entry_shadow #484848;

@define-color tab_text_color #909090;

@define-color separator_color shade (@theme_base_color, 1.5);

@define-color tooltip_color rgba(120, 120, 120, 0.8);

/*
these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(@default_bg_color, 1.8);
@define-color wm_unfocused_title @theme_unfocused_fg_color;
@define-color wm_highlight rgba(255, 255, 255, 0.8);
@define-color wm_borders_edge rgba(255, 255, 255, 0.8);
@define-color wm_bg_a shade(@theme_unfocused_bg_color, 1.2);
@define-color wm_bg_b @theme_unfocused_bg_color;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(@theme_unfocused_bg_color, 1.3);
@define-color wm_button_hover_color_b @theme_unfocused_bg_color;
@define-color wm_button_active_color_a shade(@theme_unfocused_bg_color, 0.85);
@define-color wm_button_active_color_b shade(@theme_unfocused_bg_color, 0.89);
@define-color wm_button_active_color_c shade(@theme_unfocused_bg_color, 0.9);
@define-color content_view_bg @insensitive_base_color;

@define-color theme_sel_bg_shaded darker (@theme_selected_bg_color);
